
<html>
<style>
    /*footer{*/
        /*position: fixed;*/
        /*bottom: 0;*/
        /*width: 100%;*/
        /*height: 2.5rem;            !* Footer height *!*/
          /*background-color: #00695c;*/
        /*height:25px;*/
    /*}*/
    .page-footer {

        min-height: 40px;
        min-width: 100%;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0 ;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #00695c;
    }
    body {
        min-height: 100vh;
        position: relative;
        margin: 0;
    }

</style>
<body>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">

        <div class="row">

            <div class="col-md-3 " style="text-align: left;">
                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
            </div>

         </div>
            <!-- Grid column -->



        <div class="row" style="white-space: nowrap;">
            <!-- Grid column -->
            <div class="col-md-6 " style="text-align: right;">
                <h5 class="text-uppercase">satiofjsofha@asaofjaof.com</h5>
            </div>

            <div class="col-md-6 " style="text-align: right;">
                <h5 class="text-uppercase">satiofjsofha@asaofjaof.com</h5>
            </div>

            <div class="col-md-6 " style="text-align: right;">
                <h5 class="text-uppercase">satiofjsofha@asaofjaof.com</h5>
            </div>

        </div>


    </div>
</footer>


</body>
</html>