<html>
<%include ../partials/header.ejs%>
<%include ../partials/bgimage.ejs%>

<style>

    .container{
        position relative;
    }




</style>
<body >
    <div class="container centered">

     <form action="/admin/menu/1/upload" method="get">
         <div class="form-group">
         <input type="submit" class="btn btn-light btn-lg  btn-block btn-outline-primary" value="Ανέβασε αρχείο kml" />
         </div>
        <button type="button" class="btn btn-light btn-lg  btn-block btn-outline-primary" onclick="myFunction()">Διαγραφή</button>
        </form>

    </div>
</body>
<script>
    function myFunction() {
        if (confirm('Are you sure you want to delete the db rows?')) {
            window.location.replace("/delete");
        } else {
           // windows.location.replace("localhost:3500/delete");
        }    }
</script>
</html>