<html lang = "en">
<%include ../partials/bgimage.ejs%>
<%include ../partials/header.ejs%>
<%include ../partials/footer.ejs%>
<!-- Σελίδα Εξομοίωσης, περιέχει μια φόρμα για να καθορίσει ο διαχειριστής τη χρονική στιγμή που θέλει να πραγματοποιηθεί η προσομοίωση-->
<!-- Μόνο για τον διαχειριστή -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>


    .aaa{
       position: absolute;

        top: 50%;
        left: 50% ;
        transform: translate(-50%,-50%);


    }

    form{

        background-color: rgba(0, 0, 0, 0.8);
        padding: 30px;
        width:  300px;
        margin: 0 auto;
        border-radius: 5px;


    }

     .input1{
         width: 100%;
         padding: 10px;
         border: 1px solid #dddddd;
         margin-bottom: 15px;
         box-sizing:border-box;

    }
     .input2[type="submit"] {
         margin-bottom: 15px;

        width: 100%;
        padding: 10px;
        background-color: #535b63;
        border: 0;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
    }

        h1 {
            border: 0;
            border-radius: 15px;
            background: #285e8e;
            text-align: center;
            line-height: 30px;
            font-weight: 600;
            color: white;
            font-size: 24px;
            padding: 20px 0px 20px 0;
            padding: auto;
            margin-top: -5px;
            margin-bottom: 25px;
            margin-left: -2px;
            text-align: center;
       }

    span {
            font-family:Arial, sans-serif;
            white-space:nowrap;
            margin : 0px;
         }

     .input3{
              width: 118px;
              padding: 10px;
              border: 1px solid #dddddd;
              box-sizing:border-box;


     }

      label
      {
          font-size: 16px;
          color: white;


      }


</style>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        $(document).ready(function() {
            // process the form
            var totalminutes =0;
            $('#minutesim').on("submit", function(event) {
                event.preventDefault();

                var minutes = parseInt(document.getElementById('min').value);
                totalminutes = parseInt(minutes)+parseInt(totalminutes);
            });

            $('#simulation').on("submit", function(event) {
                event.preventDefault();
                // get the form data
                var minutes = document.getElementById("min").value;
                var x = document.getElementById("myText").value;
                var x2 = document.getElementById("myText2").value;

                var reshour = x.slice(0, 2);
                var resminutes = x2.slice(0,2);

                reshour=parseInt(reshour);
                resminutes=parseInt(resminutes);

                const formData = {
                    'time':reshour,
                    'minuteshour':resminutes,
                    'minute':totalminutes
                };


                // process the form
                $.ajax({
                    type: 'post',
                    url: `/adminsimulation`,
                    headers: {
                        'Content-Type':'application/json'
                    },
                    crossDomain: true,
                    data: JSON.stringify(formData),
                    dataType: 'json'
                })
                    .done(function(response) {

                        // log data to the console so we can see
                        console.log(response);
                        if (response.status==400){
                            window.location.replace("/errorpage400");
                        }else if(response.status==404) {
                            window.location.replace("/errorpage404");
                        }
                        else {
                            window.location.href="/admin/menu/2" ;
                        }

                        // here we will handle errors and validation messages
                    })
                    .fail(function(response) {
                        console.log("error");
                        console.log(response);
                    });




            });
        });
    </script>

</head>
<body>

<div class=" container aaa ">

          <form id="simulation" >
                <h1><span>Εξομοίωση</span></h1>
                <label for="forma">Επιλογή Ώρας:</label>
                <div id="forma" class="form-group "  style="float: center; margin-bottom: 1px;">
                <input  id="myText"  class="input3"  type="number" min="0" max="23" placeholder="23" value="">
            <!--            <span class="input-group-addon">:</span> -->
                <input id="myText2"  type="number"  class="input3" id="minutes"   min="0" max="59" placeholder="00">
                </div>
                <input id="simClick" class="input2" type="submit" value="Έναρξη εξομοίωσης" style="margin-bottom: 20px;" >
        </form>
        <form id="minutesim" >
                <label for="min">Μεταβολή Λεπτών:</label>
                <input id="min" type="number"  class="form-control input1"  min="1" max="60" placeholder="" value="" style="margin-bottom: 1px;">
                <input id="minuteClick" type="submit"  class="input2" value="Εφαρμογή" >
        </form>
<!--    </div>-->
</div>



</body>

</html>
