<html>
<%include ../partials/header.ejs%>
<style>
    body{
        background: url('https://media.wired.com/photos/5926b773f3e2356fd800a373/master/w_2130,c_limit/WarOnParking_TA_GettyImages-83314262.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .container{
        position relative;
    }
    form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>
<body >
    <div class="container centered">

     <form action="/admin/menu/1/upload" method="get">
        <input type="submit" value="Ανέβασε αρχείο kml" />

        <button type="button" onclick="myFunction()">Διαγραφή</button>
        </form>

    </div>
</body>
<script>
    function myFunction() {
        if (confirm('Are you sure you want to delete the db rows?')) {
            window.location.replace("/delete");
        } else {
           // windows.location.replace("localhost:3500/delete");
        }    }
</script>
</html>