<html>
<body>
<div class="btn-group">
    <form >
        <button onclick="location.href = 'http://localhost:3500/admin/menu/1';" type="button">Διαχείριση Βάσης</button>
    </form>

    <form >
        <button onclick="location.href = 'http://localhost:3500/admin/menu/2';" type="button" >Απεικόνιση Χάρτη</button>
    </form>

    <form >
        <button onclick="location.href = 'http://localhost:3500/admin/menu/3';" type="button" >Διαχείριση Οικ.Τετραγώνου</button>
    </form>

    <form >
        <button onclick="location.href = 'http://localhost:3500/admin/menu/4';" type="button" >Εξομοίωση</button>
    </form>
</div>
</body>
</html>