<html lang = "en">
<%include ../partials/bgimage.ejs%>
<%include ../partials/header.ejs%>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>


    .aaa{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }

    .form1{
        align-self:center;
        position: relative;
        left: 0%;
        /*margin: 5% 40% 10%;*/

    }

    .form2{
        position: relative;
        top:10%

    }
    @media screen and (max-width:767px){
        .stats{
            display:none;
        }
    }



    /*#myText {display:inline-block;margin-right:10px; width:200px;}*/
    /*#simClick {display:inline-block; }*/
    /*#minutes {display:inline-block; }*/

</style>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        $(document).ready(function() {
            // process the form
            var totalminutes =0;
            $('#minuteClick').on("submit", function(event) {
                event.preventDefault();

                var minutes = parseInt(document.getElementById("min").value);
                totalminutes = parseInt(minutes)+parseInt(totalminutes);
            });

            $('#simulation').on("submit", function(event) {
                event.preventDefault();
                // get the form data
                var minutes = document.getElementById("min").value;
                var x = document.getElementById("myText").value;
                var reshour = x.slice(0, 2);
                var resminutes = x.slice(2, 4);

                reshour=parseInt(reshour);
                resminutes=parseInt(resminutes);

                const formData = {
                    'time':reshour,
                    'minuteshour':resminutes,
                    'minute':totalminutes
                };


                // process the form
                $.ajax({
                    type: 'post',
                    url: `http://localhost:3500/adminsimulation`,
                    headers: {
                        'Content-Type':'application/json'
                    },
                    crossDomain: true,
                    data: JSON.stringify(formData),
                    dataType: 'json'
                })
                    .done(function(response) {

                        // log data to the console so we can see
                        console.log(response);


                        // here we will handle errors and validation messages
                    })
                    .fail(function(response) {
                        console.log("error");
                        console.log(response);
                    });




            });
        });
    </script>

</head>
<body>

<div class=" container  aaa    text-center " style="  border-radius:5px ; padding: 30px ;background-color: rgba(0, 0, 0, 0.8);">

    <form id="simulation">
        <div class="row form1">

            <div  class=" justify-content-center">
                <input  id="myText" class="form-control "  type="number" min="0" max="23" placeholder="23" value="">
            <!--            <span class="input-group-addon">:</span> -->
                <input  type="number" id="minutes" class="form-control " min="0" max="59" placeholder="00">
                <input id="simClick" type="submit" class="btn btn-light btn-lg  btn-block btn-outline-primary " value="Έναρξη εξομοίωσης" >
            </div>

        </div>
    </form>

    <form  id="minuteClick">
        <div class="row form1"  >

        <div class="  justify-content-center">

            <input id="min" type="number" min="1" max="60" placeholder="" value="">
            <input id="minuteClick" type="submit" class="btn btn-light btn-lg  btn-block btn-outline-primary " value="Μεταβολή λεπτών" >

        </div>

        </div>

    </form>
<!--    </div>-->
</div>



</body>

</html>
