<html>
<%include ../partials/bgimage.ejs%>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>i-Park</title>

    <style>

        .aaa{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

        }

        .navbar-custom a {
            color: #fff;
        }
        .navbar-custom{
            background-color: #00695c;
            border-color: #4d4d4d;
            height:  25px;
            border:0px;

        }
        nav.navbar.navbar-custom {
            margin: 0;
        }
        span {
            font-family:Arial, sans-serif;
            white-space:nowrap;
            margin : 0px;
        }

    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

</head>
<body>


<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand navbar-left">i-Park</a>
        </div>
    </div>
</nav>

<div class="container-fluid aaa ">
    <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.8);}">
        <h1><div style="text-align: center; color: white;">500</div></h1>
        <p><div style="text-align: center; color: white;">Server error</div></p>
    </div>
</div>


</body>
</html>