<html>
<%include ../partials/bgimage.ejs%>
<%include ../partials/header.ejs%>
<%include ../partials/footer.ejs%>
<!-- Σελίδα για το upload του αρχείου KML. -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<head>


<style>


    .container{
        position relative;
    }

    form {
        border-radius: 5px ;
        padding: 60px 30px 40px 30px ;
        background-color: rgba(0, 0, 0, 0.8);
        width: 300px;
    }

    input[type="submit"], input[type="button"] {
        border-radius: 15 px;
        width: 100%;
        padding: 10px;
        background-color: #535b63;
        border: 0;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
    }

    h1 {
        border: 0;
        border-radius: 15px;
        background: #285e8e;
        text-align: center;
        line-height: 30px;
        font-weight: 600;
        color: white;
        font-size: 16px;
        padding: 20px 0px 20px 0;
        padding: auto;
        margin-top: -5px;
        margin-bottom: 35px;
        margin-left: -2px;
        text-align: center;
    }

</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>


        $(document).ready(function () {

            $("#btnSubmit").click(function (event) {

                //stop submit the form, we will post it manually.
                event.preventDefault();

                // Get form
                var form = $('#fileUploadForm')[0];

                // Create an FormData object
                var data = new FormData(form);

                // If you want to add an extra field for the FormData

                // disabled the submit button
                $("#btnSubmit").prop("disabled", true);

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/upload",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {

                        $("#result").text(data);
                        console.log("SUCCESS : ", data);
                        $("#btnSubmit").prop("disabled", false);

                    },
                    error: function (e) {

                        $("#result").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnSubmit").prop("disabled", false);

                    }
                })
                    .done(function(response) {

                    // log data to the console so we can see
                    console.log(response);
                        if (response.status==400){
                            alert("Ανέβασε αρχείο τύπου kml")
                            window.location.href="/admin/menu/1/upload" ;
                        }
                        else {
                            window.location.href="/admin/menu/2" ;
                        }

                    // here we will handle errors and validation messages
                })
                    .fail(function(response) {
                        console.log("error");
                        console.log(response);
                    });





            });

        });
    </script>

</head>
<body>
 <div class="container">
<form class="form-casual" method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <h1 style="margin-top: -30px;"><span>Ανέβασμα Αρχείου KML</span></h1>
 <input type="file"  name="sampleFile" style="background-color: white; width: 100%;">

    <input id="btnSubmit" type='submit'  class="btn " value='Φόρτωσε!' >

</div>

</body>
</html>
