<html>
<%include ../partials/bgimage.ejs%>
<%include ../partials/header.ejs%>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<head>

<style>


    .container{
        position relative;
    }

    form {
        border-radius: 5px ;
        padding: 60px 30px 40px 30px ;
        background-color: rgba(0, 0, 0, 0.8);
        width: 300px;
    }

    input[type="submit"], input[type="button"] {
        border-radius: 15 px;
        width: 100%;
        padding: 10px;
        background-color: #535b63;
        border: 0;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
    }

    h1 {
        border: 0;
        border-radius: 15px;
        background: #285e8e;
        text-align: center;
        line-height: 30px;
        font-weight: 600;
        color: white;
        font-size: 16px;
        padding: 20px 0px 20px 0;
        padding: auto;
        margin-top: -5px;
        margin-bottom: 35px;
        margin-left: -2px;
        text-align: center;
    }

</style>

</head>

<div class="alert alert-warning alert-dismissible" role="alert">
    <h4 class="alert-heading">Ωχ Όχι!,</h4>
    <p>Το αρχείο που επιλέξατε δεν είναι  τύπου KML</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<body>
 <div class="container">
<form  class="form-casual" ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
    <h1 style="margin-top: -30px;"><span>Ανέβασμα Αρχείου KML</span></h1>
 <input type="file"  name="sampleFile" style="background-color: white; width: 100%;">

    <input type='submit'  class="btn " value='Φόρτωσε!' >
<!--</form>-->
<!--     <form class="md-form">-->
<!--         <div class="file-field">-->
<!--             <div class="btn btn-primary btn-sm float-left">-->
<!--                 <span>Choose file</span>-->
<!--                 <input type="file">-->
<!--             </div>-->
<!--             <div class="file-path-wrapper">-->
<!--                 <input class="file-path validate" type="text" placeholder="Upload your file">-->
<!--             </div>-->
<!--         </div>-->
<!--     </form>-->
<!--     <form class="md-form">-->
<!--         <div class="file-field">-->
<!--             <a class="btn-floating peach-gradient mt-0 float-left">-->
<!--                 <i class="fas fa-paperclip" aria-hidden="true"></i>-->
<!--                 <input type="file">-->
<!--             </a>-->
<!--             <div class="file-path-wrapper">-->
<!--                 <input class="file-path validate" type="text" placeholder="Upload your file">-->
<!--             </div>-->
<!--         </div>-->
<!--     </form>-->
</div>

</body>
</html>
