<html>
<%include ../partials/header.ejs%>
<!-- Σελιδα απεικονισης χαρτη του διαχειριστη -->
<!-- τα δεδομενα για τον χαρτη τα λαμβανει  απο  ajax request που του επιστρεφει ενα object -->
<style>

    .map-container{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map-container iframe{

        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>


    <script>
        $(document).ready(function() {
            // process the form
            $(document).on("submit", function(event) {
                event.preventDefault();
                // get the form data

                const formData = {
                    'parkslots': $('input[name=parkingslots]').val(),
                    'demandtype_id': $('select[name=demandtype]').val()
                };
                const polygonId = $('input[name=polygonId]').val()


                // process the form
                $.ajax({
                    type: 'patch',
                    url: `/polygons/${polygonId}`,
                    headers: {
                        'Content-Type':'application/json'
                    },
                    crossDomain: true,
                    data: JSON.stringify(formData),
                    dataType: 'json'
                })
                    .done(function(response) {

                        // log data to the console so we can see
                        console.log(response);
                        if (response.status==400){
                            window.location.replace("/errorpage400");
                        }else if(response.status==404){
                            window.location.replace("/errorpage404");
                        }else if(response.status==500){
                            window.location.replace("/errorpage500");
                        }
                        // here we will handle errors and validation messages
                    })
                    .fail(function(response) {
                        console.log("error");
                        console.log(response);
                    });
                mymap.closePopup();

            });
        });
    </script>
</head>
<body>
<div id="container">

<div id="mapid" style="width: 100%;height: 100%"></div>
</div>
<script >
    var mymap = L.map('mapid').setView([ 38.2597, 21.7536], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicHp5Z291cmFzIiwiYSI6ImNqeWp0b3dudjAzNHIzbXQ1bDd6Y3JnZDEifQ.dXRp-_TOF_JjD_snQSZPAw', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);

    var popup = L.popup();
    var leafPolygons = <%- JSON.stringify(leafPolygons) %>
    var poly=[];
    leafPolygons.forEach(function (polygon) {

        poly.push(L.polygon(polygon.coords, {color: polygon.color ,customProps: {...polygon}}).addTo(mymap));


    })

    poly.forEach(function (polygon) {

        polygon.on('click', function (ev){
            popup
                .setLatLng(ev.latlng)
                .setContent(
                   "<form  id=\"patchForm\"> " +

                    "Θέσεις Πάρκινγκ:\n" +
                    "  <input name=\"parkingslots\" type=\"number\" min=\"0\" id=\"parkingslot\" value=\"\" >\n" +
                    "  <br> " +
                        "  <input name=\"polygonId\" type=\"hidden\" value=\"" + ev.target.options.customProps.id + "\">\n"+
                    "Καμπύλη ζήτησης:" +
                    "  <select name=\"demandtype\">"+
                   "<option name=\"center\" value=\"1\">Κέντρο</option>\n" +
               "<option name=\"outskirts\" value=\"2\">Υπόλοιπη Πόλη</option>\n" +
              "</select><br>\n"  +
                    "  <input type=\"submit\" value=\"Submit\">\n"+

                    " </form>"

        ).openOn(mymap);


        });

    })

</script>
</body>
</html>
