<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            // process the form

            var datetime = new Date();
            var simtime = datetime.getHours();

            simtime=parseInt(simtime);

            const formData = {
                'time':simtime
            };

            $.ajax({
                type: 'post',
                url: `http://localhost:3500/usersimulation`,
                headers: {
                    'Content-Type':'application/json'
                },
                crossDomain: true,
                data: JSON.stringify(formData),
                dataType: 'json'
            })
                .done(function(response) {

                    // log data to the console so we can see
                    console.log(response);

                    // here we will handle errors and validation messages
                })
                .fail(function(response) {
                    console.log("error");
                    console.log(response);
                });

        });
    </script>

    <style>
        #mapid{
            height:100vh ;
            width: 100vw;
        }
        #button1{
            height:auto;
            width: 50%;
        }
        #button2{
             height:auto;
             width: 49%;
         }
        #ca{
            height:30%;
            width: 49%;
        }

    </style>

</head>
<body>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div id="ca" class="modal-content">
            <div class="modal-body">
                <form>
                    <input id="myText" type="number" min="0" max="23" placeholder="23" value="">:
                    <input type="number" min="0" max="59" placeholder="00">
                    <input id="simClick" type="submit" value="Έναρξη εξομοίωσης" >
                </form>
             </div>
            <div >
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div >
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ώρα Εξομοίωσης</button>
        </div>
        <div class="col-sm-6">
           <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Εύρεση Θέσης Πάρκινγκ</button>
        </div>

    </div>
    <div class="row no-gutters`">
            <div id="mapid" ></div>

    </div>

</div>




<script >
    var mymap = L.map('mapid').setView([ 38.2597, 21.7536], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicHp5Z291cmFzIiwiYSI6ImNqeWp0b3dudjAzNHIzbXQ1bDd6Y3JnZDEifQ.dXRp-_TOF_JjD_snQSZPAw', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);

    var leafPolygons =<%- JSON.stringify(leafPolygons) %>
    var poly=[];
    var circles=[];
    leafPolygons.forEach(function (polygon) {
        poly.push(L.polygon(polygon.coords, {color: polygon.color ,customProps: {...polygon}}).addTo(mymap));


    })



</script>
</body>
</html>
